In [8]:
# NYC Weather Data via Meteostat (using NOAA data)
import requests
import pandas as pd

token = "ozFjosloVwEurlSqyGOZLcvRZGtAEFWm"

url = "https://www.ncei.noaa.gov/cdo-web/api/v2/data"

params = {
    "datasetid": "GHCND",
    "stationid": "GHCND:USW00094728",
    "startdate": "2023-01-01",
    "enddate": "2023-01-31",
    "limit": 1000,
    "units": "metric"
}

headers = {
    "token": token
}

res = requests.get(url, params=params, headers=headers)
data = res.json()

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ DataFrame
records = data.get("results", [])
df = pd.DataFrame(records)
print(df.head())

                  date datatype            station attributes    value
0  2023-01-01T00:00:00     ADPT  GHCND:USW00094728       ,,W,     39.0
1  2023-01-01T00:00:00     ASLP  GHCND:USW00094728       ,,W,  10125.0
2  2023-01-01T00:00:00     ASTP  GHCND:USW00094728       ,,W,  10071.0
3  2023-01-01T00:00:00     AWBT  GHCND:USW00094728       ,,W,     78.0
4  2023-01-01T00:00:00     AWND  GHCND:USW00094728       ,,W,      2.2

In [9]:
# –û—Ç—Ñ–∏–ª—å—Ç—Ä—É–µ–º –Ω—É–∂–Ω—ã–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏
needed_codes = ["TMAX", "TMIN", "PRCP"]

df_filtered = df[df["datatype"].isin(needed_codes)].copy()

# –ó–Ω–∞—á–µ–Ω–∏—è –¥–µ–ª–∏–º –Ω–∞ 10
df_filtered["value"] = df_filtered["value"] / 10

# –°–≤–æ–¥–∏–º –≤ —Ç–∞–±–ª–∏—á–∫—É —Å –∫–æ–ª–æ–Ω–∫–∞–º–∏
pivot = df_filtered.pivot_table(
    index="date",
    columns="datatype",
    values="value"
)

print(pivot.head())

datatype             PRCP  TMAX  TMIN
date
2023-01-01T00:00:00  0.00  1.28  0.94
2023-01-02T00:00:00  0.05  1.33  0.94
2023-01-03T00:00:00  1.07  1.44  0.83
2023-01-04T00:00:00  0.05  1.89  0.94
2023-01-05T00:00:00  0.03  1.00  0.67

In [4]:
import requests
import pandas as pd
from datetime import datetime, timedelta

# NOAA API —Ç–æ–∫–µ–Ω
token = "ozFjosloVwEurlSqyGOZLcvRZGtAEFWm"

# URL –∏ –Ω–∞—Å—Ç—Ä–æ–π–∫–∏
url = "https://www.ncei.noaa.gov/cdo-web/api/v2/data"
station_id = "GHCND:USW00094728"  # NYC Central Park

headers = {"token": token}

# –ì–µ–Ω–µ—Ä–∞—Ü–∏—è –º–µ—Å—è—Ü–µ–≤ 2025 –≥–æ–¥–∞
def get_month_ranges(year):
    ranges = []
    for month in range(1, 13):
        start = datetime(year, month, 1)
        if month == 12:
            end = datetime(year + 1, 1, 1) - timedelta(days=1)
        else:
            end = datetime(year, month + 1, 1) - timedelta(days=1)
        ranges.append((start.strftime("%Y-%m-%d"), end.strftime("%Y-%m-%d")))
    return ranges

# –°–∫–∞—á–∏–≤–∞–µ–º –ø–æ –∫–∞–∂–¥–æ–º—É –º–µ—Å—è—Ü—É
all_data = []

for start_date, end_date in get_month_ranges(2025):
    print(f"üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: {start_date} ‚Äî {end_date}")
    params = {
        "datasetid": "GHCND",
        "stationid": station_id,
        "startdate": start_date,
        "enddate": end_date,
        "limit": 1000,
        "units": "metric"
    }

    res = requests.get(url, params=params, headers=headers)
    
    if res.status_code != 200:
        print(f"‚ö†Ô∏è –û—à–∏–±–∫–∞ –ø—Ä–∏ –∑–∞–≥—Ä—É–∑–∫–µ {start_date} ‚Äî {end_date}: {res.status_code}")
        continue

    records = res.json().get("results", [])
    all_data.extend(records)

# –í DataFrame
df = pd.DataFrame(all_data)

# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –¥–∞—Ç—É –≤ datetime
df["date"] = pd.to_datetime(df["date"])



# 1. –£–±–µ–¥–∏–º—Å—è, —á—Ç–æ –¥–∞—Ç–∞ –≤ –Ω—É–∂–Ω–æ–º —Ñ–æ—Ä–º–∞—Ç–µ
df['date'] = pd.to_datetime(df['date'])

# 2. –†–∞–∑–≤–æ—Ä–∞—á–∏–≤–∞–µ–º —Ç–∞–±–ª–∏—Ü—É: –∫–∞–∂–¥–∞—è –¥–∞—Ç–∞ –∏ —Å—Ç–∞–Ω—Ü–∏—è ‚Äî –æ–¥–Ω–∞ —Å—Ç—Ä–æ–∫–∞
df_wide = df.pivot_table(
    index=['date', 'station'],
    columns='datatype',
    values='value',
    aggfunc='first'  # –µ—Å–ª–∏ –≤–¥—Ä—É–≥ –µ—Å—Ç—å –¥—É–±–ª–∏–∫–∞—Ç—ã
).reset_index()

# 3. –û–ø—Ü–∏–æ–Ω–∞–ª—å–Ω–æ: —É–±—Ä–∞—Ç—å –∏–º—è –æ—Å–∏ —Å—Ç–æ–ª–±—Ü–æ–≤ (datatype)
df_wide.columns.name = None

# 4. –°–º–æ—Ç—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
print(df_wide.head())

# –°–æ—Ö—Ä–∞–Ω—è–µ–º –≤ CSV
df_wide.to_csv("nyc_weather_2025.csv", index=False)

print("‚úÖ –§–∞–π–ª —Å–æ—Ö—Ä–∞–Ω–µ–Ω!")

üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-01-01 ‚Äî 2025-01-31
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-02-01 ‚Äî 2025-02-28
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-03-01 ‚Äî 2025-03-31
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-04-01 ‚Äî 2025-04-30
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-05-01 ‚Äî 2025-05-31
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-06-01 ‚Äî 2025-06-30
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-07-01 ‚Äî 2025-07-31
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-08-01 ‚Äî 2025-08-31
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-09-01 ‚Äî 2025-09-30
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-10-01 ‚Äî 2025-10-31
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-11-01 ‚Äî 2025-11-30
üìÖ –ó–∞–≥—Ä—É–∂–∞–µ–º –¥–∞–Ω–Ω—ã–µ: 2025-12-01 ‚Äî 2025-12-31
        date            station  AWND    PGTM  PRCP  SNOW  SNWD  TMAX  TMIN  \
0 2025-01-01  GHCND:USW00094728   3.7  1606.0   0.0   0.0   0.0  10.6   3.9
1 2025-01-02  GHCND:USW00094728   4.3  1508.0   0.0   0.0   0.0   6.1   0.6
2 2025-01-03  GHCND:USW00094728   3.5  1439.0   0.0   0.0   0.0   3.9  -0.5
3 2025-01-04  GHCND:USW00094728   4.5  1302.0   0.0   0.0   0.0   0.6  -2.1
4 2025-01-05  GHCND:USW00094728   3.8  1614.0   0.0   0.0   0.0   0.6  -2.1

    WDF2   WDF5  WSF2  WSF5  WT01  WT02  WT03  WT06  WT08
0  280.0  270.0   9.8  16.1   NaN   NaN   NaN   NaN   NaN
1  280.0  230.0   8.9  17.4   NaN   NaN   NaN   NaN   NaN
2  230.0  230.0   6.7  12.1   NaN   NaN   NaN   NaN   NaN
3  270.0  320.0   9.8  17.9   NaN   NaN   NaN   NaN   NaN
4  310.0  310.0   8.1  13.4   NaN   NaN   NaN   NaN   NaN
‚úÖ –§–∞–π–ª —Å–æ—Ö—Ä–∞–Ω–µ–Ω!

In [6]:
df_wide

,date,station,AWND,PGTM,PRCP,SNOW,SNWD,TMAX,TMIN,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT06,WT08
0,2025-01-01,GHCND:USW00094728,3.7,1606.0,0.0,0.0,0.0,10.6,3.9,280.0,270.0,9.8,16.1,NaN,NaN,NaN,NaN,NaN
1,2025-01-02,GHCND:USW00094728,4.3,1508.0,0.0,0.0,0.0,6.1,0.6,280.0,230.0,8.9,17.4,NaN,NaN,NaN,NaN,NaN
2,2025-01-03,GHCND:USW00094728,3.5,1439.0,0.0,0.0,0.0,3.9,-0.5,230.0,230.0,6.7,12.1,NaN,NaN,NaN,NaN,NaN
3,2025-01-04,GHCND:USW00094728,4.5,1302.0,0.0,0.0,0.0,0.6,-2.1,270.0,320.0,9.8,17.9,NaN,NaN,NaN,NaN,NaN
4,2025-01-05,GHCND:USW00094728,3.8,1614.0,0.0,0.0,0.0,0.6,-2.1,310.0,310.0,8.1,13.4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,2025-07-08,GHCND:USW00094728,1.4,NaN,2.3,0.0,0.0,33.9,22.8,220.0,210.0,6.3,12.1,1.0,NaN,1.0,NaN,NaN
189,2025-07-09,GHCND:USW00094728,1.0,NaN,1.3,0.0,0.0,32.2,22.8,240.0,240.0,4.5,8.1,1.0,NaN,NaN,NaN,NaN
190,2025-07-10,GHCND:USW00094728,0.8,NaN,4.6,0.0,0.0,28.9,21.1,60.0,240.0,3.6,5.4,1.0,NaN,NaN,NaN,NaN
191,2025-07-11,GHCND:USW00094728,1.1,NaN,0.0,0.0,0.0,28.9,22.8,130.0,130.0,4.0,7.2,NaN,NaN,NaN,NaN,NaN
192,2025-07-12,GHCND:USW00094728,0.9,1411.0,0.0,0.0,0.0,28.3,23.3,120.0,130.0,4.0,8.5,NaN,NaN,NaN,NaN,NaN

In [12]:
%pip install pyarrow==15.0.2
import pyarrow
import pandas as pd

Collecting pyarrow==15.0.2
  Downloading pyarrow-15.0.2-cp39-cp39-macosx_10_15_x86_64.whl (27.2 MB)
     ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 27.2/27.2 MB 85.0 kB/s eta 0:00:0000:0100:10
Requirement already satisfied: numpy<2,>=1.16.6 in ./opt/anaconda3/lib/python3.9/site-packages (from pyarrow==15.0.2) (1.21.5)
Installing collected packages: pyarrow
Successfully installed pyarrow-15.0.2
Note: you may need to restart the kernel to use updated packages.

NameError: name 'df1' is not defined

In [13]:
# –ü—É—Ç—å –∫ —Ñ–∞–π–ª—É (–ø–æ–º–µ–Ω—è–π –Ω–∞ –Ω—É–∂–Ω—ã–π)
file_path = 'data/nyc/green_tripdata_2025-01.parquet'

# –ß—Ç–µ–Ω–∏–µ parquet-—Ñ–∞–π–ª–∞
df1 = pd.read_parquet(file_path)

# –ü–æ—Å–º–æ—Ç—Ä–µ—Ç—å –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏
print(df1.head())

# –ü–æ—Å–º–æ—Ç—Ä–µ—Ç—å —Å–ø–∏—Å–æ–∫ –≤—Å–µ—Ö –∫–æ–ª–æ–Ω–æ–∫
print(df1.columns)

   VendorID lpep_pickup_datetime lpep_dropoff_datetime store_and_fwd_flag  \
0         2  2025-01-01 00:03:01   2025-01-01 00:17:12                  N
1         2  2025-01-01 00:19:59   2025-01-01 00:25:52                  N
2         2  2025-01-01 00:05:29   2025-01-01 00:07:21                  N
3         2  2025-01-01 00:52:24   2025-01-01 01:07:52                  N
4         2  2025-01-01 00:25:05   2025-01-01 01:01:10                  N

   RatecodeID  PULocationID  DOLocationID  passenger_count  trip_distance  \
0         1.0            75           235              1.0           5.93
1         1.0           166            75              1.0           1.32
2         5.0           171            73              1.0           0.41
3         1.0            74           223              1.0           4.12
4         1.0            66           158              1.0           4.71

   fare_amount  ...  mta_tax  tip_amount  tolls_amount  ehail_fee  \
0        24.70  ...      0.5        6.80          0.00        NaN
1         8.60  ...      0.5        0.00          0.00        NaN
2        25.55  ...      0.0        0.00          0.00        NaN
3        21.20  ...      0.5        6.13          6.94        NaN
4        33.80  ...      0.5        7.81          0.00        NaN

   improvement_surcharge  total_amount  payment_type  trip_type  \
0                    1.0         34.00           1.0        1.0
1                    1.0         11.10           2.0        1.0
2                    1.0         26.55           2.0        2.0
3                    1.0         36.77           1.0        1.0
4                    1.0         46.86           1.0        1.0

   congestion_surcharge  cbd_congestion_fee
0                  0.00                 0.0
1                  0.00                 0.0
2                  0.00                 0.0
3                  0.00                 0.0
4                  2.75                 0.0

[5 rows x 21 columns]
Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'cbd_congestion_fee'],
      dtype='object')

In [15]:
import os
# –ü—É—Ç—å –∫ –ø–∞–ø–∫–µ —Å parquet-—Ñ–∞–π–ª–∞–º–∏
folder = "Data/nyc/"

# –ù–∞–π—Ç–∏ –≤—Å–µ parquet-—Ñ–∞–π–ª—ã
files = [os.path.join(folder, f) for f in os.listdir(folder) if f.endswith('.parquet')]

print(f"–ù–∞–π–¥–µ–Ω–æ —Ñ–∞–π–ª–æ–≤: {len(files)}")

# –ß—Ç–µ–Ω–∏–µ –≤—Å–µ—Ö —Ñ–∞–π–ª–æ–≤ –∏ —Å–∫–ª–µ–π–∫–∞
frames = []
for file in files:
    try:
        print(f"–ß–∏—Ç–∞—é —Ñ–∞–π–ª: {file}")
        df = pd.read_parquet(file, engine='pyarrow')
        frames.append(df)
    except Exception as e:
        print(f"‚ùå –û—à–∏–±–∫–∞ –ø—Ä–∏ —á—Ç–µ–Ω–∏–∏ —Ñ–∞–π–ª–∞ {file}: {e}")

# –û–±—ä–µ–¥–∏–Ω—è–µ–º –≤ –æ–¥–∏–Ω DataFrame
if frames:
    df_all = pd.concat(frames, ignore_index=True)
    print(f"‚úÖ –í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫ –≤ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ: {len(df_all)}")
else:
    df_all = pd.DataFrame()
    print("‚ö†Ô∏è –ù–µ—Ç –¥–∞–Ω–Ω—ã—Ö –¥–ª—è —Å–∫–ª–µ–π–∫–∏.")

# –°–æ—Ö—Ä–∞–Ω—è–µ–º –≤ –æ–¥–∏–Ω parquet (–∏–ª–∏ CSV)
output_file = os.path.join(folder, "green_tripdata_merged.parquet")
df_all.to_parquet(output_file, engine='pyarrow', index=False)
print(f"‚úÖ –î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ {output_file}")

# –ï—Å–ª–∏ —Ö–æ—á–µ—à—å —Å–æ—Ö—Ä–∞–Ω–∏—Ç—å –≤ CSV:
# df_all.to_csv(os.path.join(folder, "green_tripdata_merged.csv"), index=False)

–ù–∞–π–¥–µ–Ω–æ —Ñ–∞–π–ª–æ–≤: 16
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/fhv_tripdata_2025-02.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/fhvhv_tripdata_2025-04.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/yellow_tripdata_2025-02.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/yellow_tripdata_2025-03.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/green_tripdata_2022-01.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/green_tripdata_2025-03.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/fhv_tripdata_2025-03.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/yellow_tripdata_2022-01.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/yellow_tripdata_2025-01.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/green_tripdata_2025-01.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/fhv_tripdata_2025-01.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/green_tripdata_2022-02.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/fhvhv_tripdata_2025-03.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/green_tripdata_2025-04.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/fhv_tripdata_2025-04.parquet
–ß–∏—Ç–∞—é —Ñ–∞–π–ª: Data/nyc/yellow_tripdata_2025-04.parquet
‚úÖ –í—Å–µ–≥–æ —Å—Ç—Ä–æ–∫ –≤ –æ–±—ä–µ–¥–∏–Ω–µ–Ω–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ: 65566563
‚úÖ –î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ Data/nyc/green_tripdata_merged.parquet

In [17]:
df_all.to_csv(os.path.join(folder, "green_tripdata_merged.csv"), index=False)

KeyboardInterrupt:

In [18]:
df_all.head()

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number,hvfhs_license_num,originating_base_num,request_datetime,...,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Airport_fee,lpep_pickup_datetime,lpep_dropoff_datetime,ehail_fee,trip_type
0,B00014,2025-02-01 00:00:00,2025-02-01 00:33:00,NaN,NaN,NaN,B00014,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
1,B00053,2025-02-01 00:24:00,2025-02-01 00:39:00,NaN,NaN,NaN,B00053,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
2,B00112,2025-02-01 00:15:13,2025-02-01 00:22:34,NaN,14.0,NaN,B00112,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
3,B00112,2025-02-01 00:28:02,2025-02-01 00:35:54,NaN,14.0,NaN,B00112,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN
4,B00221,2025-02-01 00:12:26,2025-02-01 00:18:11,NaN,167.0,NaN,B00221,NaN,NaN,NaT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN

In [20]:
df_all.columns

Index(['dispatching_base_num', 'pickup_datetime', 'dropOff_datetime',
       'PUlocationID', 'DOlocationID', 'SR_Flag', 'Affiliated_base_number',
       'hvfhs_license_num', 'originating_base_num', 'request_datetime',
       'on_scene_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID',
       'trip_miles', 'trip_time', 'base_passenger_fare', 'tolls', 'bcf',
       'sales_tax', 'congestion_surcharge', 'airport_fee', 'tips',
       'driver_pay', 'shared_request_flag', 'shared_match_flag',
       'access_a_ride_flag', 'wav_request_flag', 'wav_match_flag',
       'cbd_congestion_fee', 'VendorID', 'tpep_pickup_datetime',
       'tpep_dropoff_datetime', 'passenger_count', 'trip_distance',
       'RatecodeID', 'store_and_fwd_flag', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount', 'Airport_fee',
       'lpep_pickup_datetime', 'lpep_dropoff_datetime', 'ehail_fee',
       'trip_type'],
      dtype='object')

In [3]:
import pandas as pd

# 1. –ü—Ä–æ—á–∏—Ç–∞—Ç—å –¥–∞—Ç–∞—Å–µ—Ç
df = pd.read_parquet("data/nyc/green_tripdata_merged.parquet")
print("–§–æ—Ä–º–∞ –¥–æ –∏–∑–º–µ–Ω–µ–Ω–∏–π:", df.shape)

# 2. –°–æ–∑–¥–∞—ë–º —Å—Ç–æ–ª–±–µ—Ü pickup_datetime
pickup_cols = [
    "pickup_datetime",
    "tpep_pickup_datetime",
    "lpep_pickup_datetime"
]

# –ù–∞–π–¥—ë–º –ø–µ—Ä–≤—ã–π –Ω–µ–ø—É—Å—Ç–æ–π pickup_datetime –¥–ª—è –∫–∞–∂–¥–æ–π —Å—Ç—Ä–æ–∫–∏
# –ï—Å–ª–∏ –∫–æ–ª–æ–Ω–∫–∞ –æ—Ç—Å—É—Ç—Å—Ç–≤—É–µ—Ç –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ ‚Äî –Ω–µ –±–µ—Ä—ë–º –µ—ë
existing_cols = [col for col in pickup_cols if col in df.columns]

if not existing_cols:
    raise Exception("–ù–µ—Ç –∫–æ–ª–æ–Ω–æ–∫ –Ω–∞—á–∞–ª–∞ –ø–æ–µ–∑–¥–∫–∏ –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ!")

df["pickup_datetime"] = df[existing_cols].bfill(axis=1).iloc[:, 0]

# –ü—Ä–∏–≤–µ–¥—ë–º –∫ datetime
df["pickup_datetime"] = pd.to_datetime(df["pickup_datetime"], errors='coerce')

# 3. –£–¥–∞–ª—è–µ–º –≤—Å–µ –∫–æ–ª–æ–Ω–∫–∏ –∫–æ–Ω—Ü–∞ –ø–æ–µ–∑–¥–∫–∏
drop_cols = [
    "dropOff_datetime",
    "tpep_dropoff_datetime",
    "lpep_dropoff_datetime",
    "dropoff_datetime"
]
drop_cols = [col for col in drop_cols if col in df.columns]

df.drop(columns=drop_cols, inplace=True)

# 4. –°–æ–∑–¥–∞—ë–º –∫–æ–ª–æ–Ω–∫—É —Å —á–∞—Å–æ–º –ø–æ–µ–∑–¥–∫–∏
df["pickup_hour"] = df["pickup_datetime"].dt.hour

# 5. –ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
print("–§–æ—Ä–º–∞ –ø–æ—Å–ª–µ –∏–∑–º–µ–Ω–µ–Ω–∏–π:", df.shape)
print(df.head())

# 6. –°–æ—Ö—Ä–∞–Ω–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
df.to_parquet("green_tripdata_cleaned.parquet", index=False)
print("‚úÖ –î–∞—Ç–∞—Å–µ—Ç —Å–æ—Ö—Ä–∞–Ω—ë–Ω –≤ green_tripdata_cleaned.parquet!")

–§–æ—Ä–º–∞ –¥–æ –∏–∑–º–µ–Ω–µ–Ω–∏–π: (65566563, 50)
–§–æ—Ä–º–∞ –ø–æ—Å–ª–µ –∏–∑–º–µ–Ω–µ–Ω–∏–π: (65566563, 47)
  dispatching_base_num     pickup_datetime  PUlocationID  DOlocationID  \
0               B00014 2025-02-01 00:00:00           NaN           NaN
1               B00053 2025-02-01 00:24:00           NaN           NaN
2               B00112 2025-02-01 00:15:13           NaN          14.0
3               B00112 2025-02-01 00:28:02           NaN          14.0
4               B00221 2025-02-01 00:12:26           NaN         167.0

   SR_Flag Affiliated_base_number hvfhs_license_num originating_base_num  \
0      NaN                 B00014              None                 None
1      NaN                 B00053              None                 None
2      NaN                 B00112              None                 None
3      NaN                 B00112              None                 None
4      NaN                 B00221              None                 None

  request_datetime on_scene_datetime  ...  mta_tax  tip_amount  tolls_amount  \
0              NaT               NaT  ...      NaN         NaN           NaN
1              NaT               NaT  ...      NaN         NaN           NaN
2              NaT               NaT  ...      NaN         NaN           NaN
3              NaT               NaT  ...      NaN         NaN           NaN
4              NaT               NaT  ...      NaN         NaN           NaN

   improvement_surcharge  total_amount  Airport_fee  lpep_pickup_datetime  \
0                    NaN           NaN          NaN                   NaT
1                    NaN           NaN          NaN                   NaT
2                    NaN           NaN          NaN                   NaT
3                    NaN           NaN          NaN                   NaT
4                    NaN           NaN          NaN                   NaT

   ehail_fee  trip_type  pickup_hour
0       None        NaN            0
1       None        NaN            0
2       None        NaN            0
3       None        NaN            0
4       None        NaN            0

[5 rows x 47 columns]
‚úÖ –î–∞—Ç–∞—Å–µ—Ç —Å–æ—Ö—Ä–∞–Ω—ë–Ω –≤ green_tripdata_cleaned.parquet!

In [3]:
import pandas as pd

# –ø—É—Ç—å –∫ —Ç–≤–æ–µ–º—É parquet-—Ñ–∞–π–ª—É
file_path = "Data/nyc/green_tripdata_cleaned.parquet"

# —á–∏—Ç–∞–µ–º –¥–∞—Ç–∞—Å–µ—Ç
df = pd.read_parquet(file_path)

# —Å–ø–∏—Å–æ–∫ –∫–æ–ª–æ–Ω–æ–∫ –¥–ª—è —É–¥–∞–ª–µ–Ω–∏—è
cols_to_drop = [
    "dispatching_base_num", "originating_base_num", "Affiliated_base_number",
    "hvfhs_license_num", "request_datetime", "on_scene_datetime",
    "dropOff_datetime", "trip_miles", "shared_request_flag",
    "shared_match_flag", "access_a_ride_flag", "wav_request_flag",
    "wav_match_flag", "SR_Flag", "PGTM", "WDF2", "WDF5", "WSF2", "WSF5"
]

# —É–¥–∞–ª—è–µ–º, –µ—Å–ª–∏ —Ç–∞–∫–∏–µ –∫–æ–ª–æ–Ω–∫–∏ —Å—É—â–µ—Å—Ç–≤—É—é—Ç
df = df.drop(columns=[col for col in cols_to_drop if col in df.columns])

print("‚úÖ –ù–µ–Ω—É–∂–Ω—ã–µ –∫–æ–ª–æ–Ω–∫–∏ —É–¥–∞–ª–µ–Ω—ã!")
print(df.head())

# —Å–æ—Ö—Ä–∞–Ω–∏–º –æ–±—Ä–∞—Ç–Ω–æ –≤ parquet –∏–ª–∏ csv
df.to_parquet("Data/nyc/green_tripdata_cleaned.parquet", index=False)

KeyboardInterrupt:

In [2]:
df.shape

(65566563, 32)

In [1]:
import pandas as pd

# –∑–∞–≥—Ä—É–∂–∞–µ–º —Ç–≤–æ–π –¥–∞—Ç–∞—Å–µ—Ç
file = 'Data/nyc/green_tripdata_cleaned.parquet'

df = pd.read_parquet(file)

# —Å–æ–∑–¥–∞–µ–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü pickup_location_id:
# - —Å–Ω–∞—á–∞–ª–∞ –±–µ—Ä–µ–º PULocationID, –µ—Å–ª–∏ –æ–Ω –Ω–µ –ø—É—Å—Ç–æ–π
# - –µ—Å–ª–∏ –ø—É—Å—Ç–æ–π ‚Üí –±–µ—Ä–µ–º PUlocationID
df["pickup_location_id"] = df["PULocationID"].fillna(df["PUlocationID"])

# —Ç–æ –∂–µ —Å–∞–º–æ–µ –¥–ª—è dropoff_location_id
df["dropoff_location_id"] = df["DOLocationID"].fillna(df["DOlocationID"])

# —É–±–∏—Ä–∞–µ–º –∏—Å—Ö–æ–¥–Ω—ã–µ 4 –∫–æ–ª–æ–Ω–∫–∏
df.drop(columns=["PULocationID", "PUlocationID", "DOLocationID", "DOlocationID"], inplace=True)

df

,pickup_datetime,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,...,tolls_amount,improvement_surcharge,total_amount,Airport_fee,lpep_pickup_datetime,ehail_fee,trip_type,pickup_hour,pickup_location_id,dropoff_location_id
0,2025-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,NaN
1,2025-02-01 00:24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,NaN
2,2025-02-01 00:15:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,14.0
3,2025-02-01 00:28:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,14.0
4,2025-02-01 00:12:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,167.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65566558,2025-04-30 23:37:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,5.07,NaN,NaT,None,NaN,23,48.0,243.0
65566559,2025-04-30 23:53:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,25.75,NaN,NaT,None,NaN,23,234.0,142.0
65566560,2025-04-30 23:31:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,3.81,NaN,NaT,None,NaN,23,68.0,45.0
65566561,2025-04-30 23:27:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,25.16,NaN,NaT,None,NaN,23,186.0,141.0
65566562,2025-04-30 23:05:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,4.99,NaN,NaT,None,NaN,23,158.0,164.0

In [3]:
df.to_parquet("Data/nyc/green_tripdata_cleaned.parquet", index=False)

In [4]:
df

,pickup_datetime,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,driver_pay,...,tolls_amount,improvement_surcharge,total_amount,Airport_fee,lpep_pickup_datetime,ehail_fee,trip_type,pickup_hour,pickup_location_id,dropoff_location_id
0,2025-02-01 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,NaN
1,2025-02-01 00:24:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,NaN
2,2025-02-01 00:15:13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,14.0
3,2025-02-01 00:28:02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,14.0
4,2025-02-01 00:12:26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaT,None,NaN,0,NaN,167.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65566558,2025-04-30 23:37:25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,5.07,NaN,NaT,None,NaN,23,48.0,243.0
65566559,2025-04-30 23:53:37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,25.75,NaN,NaT,None,NaN,23,234.0,142.0
65566560,2025-04-30 23:31:55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,3.81,NaN,NaT,None,NaN,23,68.0,45.0
65566561,2025-04-30 23:27:36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,25.16,NaN,NaT,None,NaN,23,186.0,141.0
65566562,2025-04-30 23:05:47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,1.0,4.99,NaN,NaT,None,NaN,23,158.0,164.0

In [7]:
# –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º pickup_datetime –≤ datetime
df["pickup_datetime"] = pd.to_datetime(df["pickup_datetime"])

# –ò–∑–≤–ª–µ–∫–∞–µ–º –¥–∞—Ç—É –∏ —á–∞—Å
df["pickup_date"] = df["pickup_datetime"].dt.date
df["pickup_hour"] = df["pickup_datetime"].dt.hour

# –ì—Ä—É–ø–ø–∏—Ä—É—é—â–∏–µ –∫–ª—é—á–∏
group_cols = ["pickup_location_id", "pickup_date", "pickup_hour"]

# –û—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ —á–∏—Å–ª–æ–≤—ã–µ –∫–æ–ª–æ–Ω–∫–∏
numeric_cols = df.select_dtypes(include=["number"]).columns.tolist()

# –ò—Å–∫–ª—é—á–∞–µ–º –∫–ª—é—á–∏ –∏–∑ –∞–≥—Ä–µ–≥–∏—Ä—É–µ–º—ã—Ö –∫–æ–ª–æ–Ω–æ–∫
numeric_cols = [c for c in numeric_cols if c not in group_cols]

# –§–æ—Ä–º–∏—Ä—É–µ–º —Å–ª–æ–≤–∞—Ä—å –∞–≥—Ä–µ–≥–∞—Ü–∏–π
agg_dict = {col: "mean" for col in numeric_cols}

# –î–æ–±–∞–≤–∏–º count –ø–æ–µ–∑–¥–æ–∫
agg_dict["pickup_datetime"] = "count"

# –ê–≥—Ä–µ–≥–∏—Ä—É–µ–º
agg_df = (
    df
    .groupby(group_cols)
    .agg(agg_dict)
    .reset_index()
)

# –ü–µ—Ä–µ–∏–º–µ–Ω—É–µ–º –∫–æ–ª–æ–Ω–∫—É count
agg_df = agg_df.rename(columns={"pickup_datetime": "ride_count"})

print("‚úÖ –ò—Ç–æ–≥–æ–≤—ã–π –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–Ω—ã–π DataFrame:")
print(agg_df.head())

# –°–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
agg_df.to_csv("green_tripdata_aggregated.csv", index=False)
print("‚úÖ –§–∞–π–ª green_tripdata_aggregated.csv —Å–æ—Ö—Ä–∞–Ω–µ–Ω.")

‚úÖ –ò—Ç–æ–≥–æ–≤—ã–π –∞–≥—Ä–µ–≥–∏—Ä–æ–≤–∞–Ω–Ω—ã–π DataFrame:
   pickup_location_id pickup_date  pickup_hour  trip_time  \
0                 1.0  2022-01-01            4        NaN
1                 1.0  2022-01-01            5        NaN
2                 1.0  2022-01-01            7        NaN
3                 1.0  2022-01-01           10        NaN
4                 1.0  2022-01-01           11        NaN

   base_passenger_fare  tolls  bcf  sales_tax  congestion_surcharge  \
0                  NaN    NaN  NaN        NaN                   0.0
1                  NaN    NaN  NaN        NaN                   0.0
2                  NaN    NaN  NaN        NaN                   0.0
3                  NaN    NaN  NaN        NaN                   0.0
4                  NaN    NaN  NaN        NaN                   0.0

   airport_fee  ...  extra  mta_tax  tip_amount  tolls_amount  \
0          0.0  ...    0.0      0.0        0.00          0.00
1          0.0  ...    0.0      0.0       10.00          0.00
2          0.0  ...    0.0      0.0       11.03          0.00
3          0.0  ...    0.0      0.0        0.00         18.75
4          0.0  ...    0.0      0.0        2.50          0.00

   improvement_surcharge  total_amount  Airport_fee  trip_type  \
0                    0.3         40.30          NaN        NaN
1                    0.3        105.30          NaN        NaN
2                    0.3        107.83          NaN        NaN
3                    0.3         98.05          NaN        NaN
4                    0.3        105.30          NaN        NaN

   dropoff_location_id  ride_count
0                  1.0           1
1                  1.0           1
2                  1.0           2
3                  1.0           1
4                  1.0           2

[5 rows x 29 columns]
‚úÖ –§–∞–π–ª green_tripdata_aggregated.csv —Å–æ—Ö—Ä–∞–Ω–µ–Ω.

In [15]:
agg_df.describe()

,pickup_location_id,pickup_hour,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,tips,...,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,Airport_fee,trip_type,dropoff_location_id,ride_count
count,731727.000000,731727.000000,368645.000000,368645.000000,368645.000000,368645.000000,368645.000000,611287.000000,432817.000000,368645.000000,...,539524.000000,539524.000000,539524.000000,539524.000000,539524.000000,539524.000000,304528.000000,76810.000000,730909.000000,731727.000000
mean,135.980493,11.852963,1075.012252,25.034043,1.012104,0.625903,2.117467,0.898329,0.149796,0.929753,...,0.524170,0.472277,1.678624,0.708208,0.771031,27.439769,0.041589,1.091875,141.289651,81.282772
std,76.386939,6.690104,286.764673,9.213515,1.388191,0.236062,0.725290,1.053914,0.327768,1.012837,...,0.880901,0.124744,3.002394,1.820118,0.327294,20.573412,0.246830,0.268890,40.554882,135.051656
min,1.000000,0.000000,1.000000,-5.910000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,-3.250000,-0.250000,0.000000,0.000000,0.000000,-39.500000,0.000000,1.000000,1.000000,1.000000
25%,70.000000,6.000000,906.917241,19.448687,0.284296,0.484833,1.698049,0.000000,0.000000,0.295297,...,0.000000,0.487179,0.000000,0.000000,0.500000,18.105000,0.000000,1.000000,120.036585,4.000000
50%,138.000000,12.000000,1043.865385,22.678113,0.648000,0.566026,1.970548,0.248418,0.029297,0.675278,...,0.000000,0.500000,0.838750,0.000000,0.984962,22.956181,0.000000,1.000000,144.785714,26.000000
75%,204.000000,18.000000,1197.365297,28.106582,1.248150,0.701104,2.363333,2.329852,0.148810,1.257387,...,0.793919,0.500000,2.482950,0.301739,1.000000,31.570000,0.000000,1.000000,163.449102,105.000000
max,265.000000,23.000000,7489.500000,415.220000,39.730000,10.455000,37.125000,2.750000,5.000000,50.000000,...,11.000000,10.666667,250.000000,101.780000,1.000000,5155.930385,4.250000,2.000000,265.000000,2289.000000

In [16]:
import requests
import pandas as pd
from datetime import datetime, timedelta

# NOAA API —Ç–æ–∫–µ–Ω
token = "ozFjosloVwEurlSqyGOZLcvRZGtAEFWm"

headers = {"token": token}

# --- –ü–æ–ª—É—á–∞–µ–º —Å–ø–∏—Å–æ–∫ —Å—Ç–∞–Ω—Ü–∏–π –≤ NYC ---
url_stations = "https://www.ncei.noaa.gov/cdo-web/api/v2/stations"
params_stations = {
    "datasetid": "GHCND",
    "extent": "40.5,-74.3,40.9,-73.7",  # —Ä–∞–º–∫–∞ –≤–æ–∫—Ä—É–≥ NYC
    "limit": 1000,
}
res = requests.get(url_stations, params=params_stations, headers=headers)
stations = res.json().get("results", [])

df_stations = pd.DataFrame(stations)
print("‚úÖ –ù–∞–π–¥–µ–Ω–æ —Å—Ç–∞–Ω—Ü–∏–π:", len(df_stations))
print(df_stations[["id", "name"]])

# --- –§—É–Ω–∫—Ü–∏—è –¥–∞—Ç ---
def get_month_ranges(year):
    ranges = []
    for month in range(1, 13):
        start = datetime(year, month, 1)
        if month == 12:
            end = datetime(year + 1, 1, 1) - timedelta(days=1)
        else:
            end = datetime(year, month + 1, 1) - timedelta(days=1)
        ranges.append((start.strftime("%Y-%m-%d"), end.strftime("%Y-%m-%d")))
    return ranges

# --- –°–∫–∞—á–∏–≤–∞–µ–º –¥–∞–Ω–Ω—ã–µ –¥–ª—è –≤—Å–µ—Ö —Å—Ç–∞–Ω—Ü–∏–π ---
url_data = "https://www.ncei.noaa.gov/cdo-web/api/v2/data"

all_data = []

for station_id in df_stations["id"]:
    for start_date, end_date in get_month_ranges(2025):
        print(f"üîé –°–∫–∞—á–∏–≤–∞–µ–º {station_id}: {start_date} ‚Äî {end_date}")
        
        params_data = {
            "datasetid": "GHCND",
            "stationid": station_id,
            "startdate": start_date,
            "enddate": end_date,
            "limit": 1000,
            "units": "metric"
        }
        
        res = requests.get(url_data, params=params_data, headers=headers)
        
        if res.status_code != 200:
            print(f"‚ö†Ô∏è –û—à–∏–±–∫–∞ {res.status_code} –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ {station_id} ({start_date} ‚Äî {end_date})")
            continue
        
        records = res.json().get("results", [])
        all_data.extend(records)

# --- –ü—Ä–µ–æ–±—Ä–∞–∑—É–µ–º –≤ —Ç–∞–±–ª–∏—Ü—É ---
df = pd.DataFrame(all_data)
print("‚úÖ –ó–∞–≥—Ä—É–∂–µ–Ω–æ —Å—Ç—Ä–æ–∫:", len(df))

if not df.empty:
    df["date"] = pd.to_datetime(df["date"])

    df_wide = df.pivot_table(
        index=["date", "station"],
        columns="datatype",
        values="value",
        aggfunc="first"
    ).reset_index()

    df_wide.columns.name = None
    df_wide.to_csv("nyc_weather_allstations_2025.csv", index=False)
    print("‚úÖ –î–∞–Ω–Ω—ã–µ —Å–æ—Ö—Ä–∞–Ω–µ–Ω—ã –≤ nyc_weather_allstations_2025.csv")

else:
    print("‚ö†Ô∏è –î–∞–Ω–Ω—ã—Ö –Ω–µ—Ç.")

‚úÖ –ù–∞–π–¥–µ–Ω–æ —Å—Ç–∞–Ω—Ü–∏–π: 99
                   id                                 name
0   GHCND:US1NJBG0011        NORTH ARLINGTON 0.7 NE, NJ US
1   GHCND:US1NJBG0012             WOOD RIDGE 0.6 SE, NJ US
2   GHCND:US1NJBG0013              RUTHERFORD 1.2 N, NJ US
3   GHCND:US1NJBG0015       NORTH ARLINGTON 0.7 WNW, NJ US
4   GHCND:US1NJBG0018        PALISADES PARK 0.2 WNW, NJ US
..                ...                                  ...
94  GHCND:USW00014786  NEW YORK FLOYD BENNETT FIELD, NY US
95  GHCND:USW00054743     CALDWELL ESSEX CO AIRPORT, NJ US
96  GHCND:USW00094728          NY CITY CENTRAL PARK, NY US
97  GHCND:USW00094741             TETERBORO AIRPORT, NJ US
98  GHCND:USW00094789     JFK INTERNATIONAL AIRPORT, NY US

[99 rows x 2 columns]
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-01-01 ‚Äî 2025-01-31
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJBG0011 (2025-01-01 ‚Äî 2025-01-31)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-05-01 ‚Äî 2025-05-31
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJBG0011 (2025-05-01 ‚Äî 2025-05-31)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0011: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0012: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0013: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-07-01 ‚Äî 2025-07-31
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJBG0015 (2025-07-01 ‚Äî 2025-07-31)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-10-01 ‚Äî 2025-10-31
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJBG0015 (2025-10-01 ‚Äî 2025-10-31)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0015: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-04-01 ‚Äî 2025-04-30
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJBG0018 (2025-04-01 ‚Äî 2025-04-30)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0018: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0033: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0064: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJBG0065: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0004: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0010: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-03-01 ‚Äî 2025-03-31
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJES0011 (2025-03-01 ‚Äî 2025-03-31)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-06-01 ‚Äî 2025-06-30

üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0011: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0015: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-03-01 ‚Äî 2025-03-31
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJES0018 (2025-03-01 ‚Äî 2025-03-31)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0018: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0019: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-01-01 ‚Äî 2025-01-31
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJES0020 (2025-01-01 ‚Äî 2025-01-31)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-04-01 ‚Äî 2025-04-30
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJES0020 (2025-04-01 ‚Äî 2025-04-30)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0020: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0021: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-08-01 ‚Äî 2025-08-31
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJES0024 (2025-08-01 ‚Äî 2025-08-31)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-11-01 ‚Äî 2025-11-30
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJES0024 (2025-11-01 ‚Äî 2025-11-30)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0024: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0029: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-07-01 ‚Äî 2025-07-31
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJES0031 (2025-07-01 ‚Äî 2025-07-31)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0031: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-04-01 ‚Äî 2025-04-30
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJES0033 (2025-04-01 ‚Äî 2025-04-30)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0033: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-02-01 ‚Äî 2025-02-28
‚ö†Ô∏è –û—à–∏–±–∫–∞ 503 –¥–ª—è —Å—Ç–∞–Ω—Ü–∏–∏ GHCND:US1NJES0040 (2025-02-01 ‚Äî 2025-02-28)
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-04-01 ‚Äî 2025-04-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-05-01 ‚Äî 2025-05-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-06-01 ‚Äî 2025-06-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-07-01 ‚Äî 2025-07-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-08-01 ‚Äî 2025-08-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-09-01 ‚Äî 2025-09-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-10-01 ‚Äî 2025-10-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-11-01 ‚Äî 2025-11-30
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJES0040: 2025-12-01 ‚Äî 2025-12-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJHD0002: 2025-01-01 ‚Äî 2025-01-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJHD0002: 2025-02-01 ‚Äî 2025-02-28
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJHD0002: 2025-03-01 ‚Äî 2025-03-31
üîé –°–∫–∞—á–∏–≤–∞–µ–º GHCND:US1NJHD0002: 2025-04-01 ‚Äî 2025-04-30

KeyboardInterrupt:

In [21]:
import pandas as pd

# --------------------------------------
# 1. –ó–∞–≥—Ä—É–∂–∞–µ–º –ø–æ–≥–æ–¥–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç
# --------------------------------------

# –ü—É—Ç—å –∫ —Ç–≤–æ–µ–º—É CSV —Å –ø–æ–≥–æ–¥–æ–π
weather_path = "nyc_weather_2025.csv"

# –ó–∞–≥—Ä—É–∂–∞–µ–º
df_weather = pd.read_csv(weather_path, parse_dates=["date"])

# –û—Å—Ç–∞–≤–ª—è–µ–º —Ç–æ–ª—å–∫–æ –¶–µ–Ω—Ç—Ä–∞–ª—å–Ω—ã–π –ø–∞—Ä–∫
df_weather_citywide = df_weather[df_weather["station"] == "GHCND:USW00094728"].copy()
df_weather_citywide["date"] = pd.to_datetime(df_weather_citywide["date"]).dt.date

# –£–¥–∞–ª—è–µ–º –∫–æ–ª–æ–Ω–∫—É station (–æ–Ω–∞ –±–æ–ª—å—à–µ –Ω–µ –Ω—É–∂–Ω–∞)
df_weather_citywide.drop(columns=["station"], inplace=True)

# –î–ª—è –ø—Ä–æ–≤–µ—Ä–∫–∏
print("‚úÖ –ü–æ–≥–æ–¥–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç:")
print(df_weather_citywide.head())

# --------------------------------------
# 2. –ó–∞–≥—Ä—É–∂–∞–µ–º —Ç–∞–∫—Å–∏-–¥–∞—Ç–∞—Å–µ—Ç
# --------------------------------------

# –ü—É—Ç—å –∫ —Ç–≤–æ–µ–º—É parquet-—Ñ–∞–π–ª—É
taxi_path = "green_tripdata_aggregated.csv"

df_taxi = pd.read_csv(taxi_path)

print("‚úÖ –¢–∞–∫—Å–∏-–¥–∞—Ç–∞—Å–µ—Ç:")
print(df_taxi.head())

# --------------------------------------
# 3. –°–æ–∑–¥–∞–µ–º –∫–æ–ª–æ–Ω–∫—É –¥–∞—Ç—ã –≤ —Ç–∞–∫—Å–∏-–¥–∞—Ç–∞—Å–µ—Ç–µ
# --------------------------------------

# –ï—Å–ª–∏ –≤ —Ç–≤–æ–µ–º –¥–∞—Ç–∞—Å–µ—Ç–µ –µ—Å—Ç—å pickup_hour:
if "pickup_date" in df_taxi.columns:
    # pickup_date –º–æ–∂–µ—Ç –±—ã—Ç—å —Å—Ç—Ä–æ–∫–æ–π –≤—Ä–æ–¥–µ "2025-01-01 15"
    df_taxi["date"] = pd.to_datetime(df_taxi["pickup_date"]).dt.date

elif "pickup_datetime" in df_taxi.columns:
    # –ï—Å–ª–∏ –≤ –¥–∞—Ç–∞—Å–µ—Ç–µ —Å–æ—Ö—Ä–∞–Ω–∏–ª—Å—è –æ—Ä–∏–≥–∏–Ω–∞–ª—å–Ω—ã–π datetime
    df_taxi["date"] = pd.to_datetime(df_taxi["pickup_datetime"]).dt.date

else:
    raise ValueError("–ù–µ –Ω–∞—à–µ–ª –∫–æ–ª–æ–Ω–∫—É pickup_hour –∏–ª–∏ pickup_datetime –≤ taxi-–¥–∞—Ç–∞—Å–µ—Ç–µ!")

print("‚úÖ –î–æ–±–∞–≤–ª–µ–Ω–∞ –∫–æ–ª–æ–Ω–∫–∞ date –≤ —Ç–∞–∫—Å–∏-–¥–∞—Ç–∞—Å–µ—Ç:")
print(df_taxi[["pickup_hour", "date"]].head())

# --------------------------------------
# 4. –°–∫–ª–µ–∏–≤–∞–µ–º –¥–≤–∞ –¥–∞—Ç–∞—Å–µ—Ç–∞
# --------------------------------------

df_merged = df_taxi.merge(
    df_weather_citywide,
    left_on="date",
    right_on="date",
    how="left"
)

print("‚úÖ –ò—Ç–æ–≥–æ–≤—ã–π —Å–∫–ª–µ–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç:")
print(df_merged.head())

# --------------------------------------
# 5. –°–æ—Ö—Ä–∞–Ω—è–µ–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
# --------------------------------------

df_merged.to_parquet("nyc_taxi_weather_merged.parquet", index=False)
# –∏–ª–∏, –µ—Å–ª–∏ —Ö–æ—á–µ—à—å CSV:
# df_merged.to_csv("nyc_taxi_weather_merged.csv", index=False)

print("‚úÖ –ò—Ç–æ–≥–æ–≤—ã–π —Ñ–∞–π–ª —Å–æ—Ö—Ä–∞–Ω–µ–Ω: nyc_taxi_weather_merged.parquet")

‚úÖ –ü–æ–≥–æ–¥–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç:
         date  AWND    PGTM  PRCP  SNOW  SNWD  TMAX  TMIN   WDF2   WDF5  WSF2  \
0  2025-01-01   3.7  1606.0   0.0   0.0   0.0  10.6   3.9  280.0  270.0   9.8
1  2025-01-02   4.3  1508.0   0.0   0.0   0.0   6.1   0.6  280.0  230.0   8.9
2  2025-01-03   3.5  1439.0   0.0   0.0   0.0   3.9  -0.5  230.0  230.0   6.7
3  2025-01-04   4.5  1302.0   0.0   0.0   0.0   0.6  -2.1  270.0  320.0   9.8
4  2025-01-05   3.8  1614.0   0.0   0.0   0.0   0.6  -2.1  310.0  310.0   8.1

   WSF5  WT01  WT02  WT03  WT06  WT08
0  16.1   NaN   NaN   NaN   NaN   NaN
1  17.4   NaN   NaN   NaN   NaN   NaN
2  12.1   NaN   NaN   NaN   NaN   NaN
3  17.9   NaN   NaN   NaN   NaN   NaN
4  13.4   NaN   NaN   NaN   NaN   NaN
‚úÖ –¢–∞–∫—Å–∏-–¥–∞—Ç–∞—Å–µ—Ç:
   pickup_location_id pickup_date  pickup_hour  trip_time  \
0                 1.0  2022-01-01            4        NaN
1                 1.0  2022-01-01            5        NaN
2                 1.0  2022-01-01            7        NaN
3                 1.0  2022-01-01           10        NaN
4                 1.0  2022-01-01           11        NaN

   base_passenger_fare  tolls  bcf  sales_tax  congestion_surcharge  \
0                  NaN    NaN  NaN        NaN                   0.0
1                  NaN    NaN  NaN        NaN                   0.0
2                  NaN    NaN  NaN        NaN                   0.0
3                  NaN    NaN  NaN        NaN                   0.0
4                  NaN    NaN  NaN        NaN                   0.0

   airport_fee  ...  extra  mta_tax  tip_amount  tolls_amount  \
0          0.0  ...    0.0      0.0        0.00          0.00
1          0.0  ...    0.0      0.0       10.00          0.00
2          0.0  ...    0.0      0.0       11.03          0.00
3          0.0  ...    0.0      0.0        0.00         18.75
4          0.0  ...    0.0      0.0        2.50          0.00

   improvement_surcharge  total_amount  Airport_fee  trip_type  \
0                    0.3         40.30          NaN        NaN
1                    0.3        105.30          NaN        NaN
2                    0.3        107.83          NaN        NaN
3                    0.3         98.05          NaN        NaN
4                    0.3        105.30          NaN        NaN

   dropoff_location_id  ride_count
0                  1.0           1
1                  1.0           1
2                  1.0           2
3                  1.0           1
4                  1.0           2

[5 rows x 29 columns]
‚úÖ –î–æ–±–∞–≤–ª–µ–Ω–∞ –∫–æ–ª–æ–Ω–∫–∞ date –≤ —Ç–∞–∫—Å–∏-–¥–∞—Ç–∞—Å–µ—Ç:
   pickup_hour        date
0            4  2022-01-01
1            5  2022-01-01
2            7  2022-01-01
3           10  2022-01-01
4           11  2022-01-01
‚úÖ –ò—Ç–æ–≥–æ–≤—ã–π —Å–∫–ª–µ–µ–Ω–Ω—ã–π –¥–∞—Ç–∞—Å–µ—Ç:
   pickup_location_id pickup_date  pickup_hour  trip_time  \
0                 1.0  2022-01-01            4        NaN
1                 1.0  2022-01-01            5        NaN
2                 1.0  2022-01-01            7        NaN
3                 1.0  2022-01-01           10        NaN
4                 1.0  2022-01-01           11        NaN

   base_passenger_fare  tolls  bcf  sales_tax  congestion_surcharge  \
0                  NaN    NaN  NaN        NaN                   0.0
1                  NaN    NaN  NaN        NaN                   0.0
2                  NaN    NaN  NaN        NaN                   0.0
3                  NaN    NaN  NaN        NaN                   0.0
4                  NaN    NaN  NaN        NaN                   0.0

   airport_fee  ...  TMIN  WDF2  WDF5  WSF2  WSF5  WT01  WT02  WT03  WT06  \
0          0.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1          0.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2          0.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3          0.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4          0.0  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   WT08
0   NaN
1   NaN
2   NaN
3   NaN
4   NaN

[5 rows x 46 columns]
‚úÖ –ò—Ç–æ–≥–æ–≤—ã–π —Ñ–∞–π–ª —Å–æ—Ö—Ä–∞–Ω–µ–Ω: nyc_taxi_weather_merged.parquet

In [23]:
df_merged.columns

Index(['pickup_location_id', 'pickup_date', 'pickup_hour', 'trip_time',
       'base_passenger_fare', 'tolls', 'bcf', 'sales_tax',
       'congestion_surcharge', 'airport_fee', 'tips', 'driver_pay',
       'cbd_congestion_fee', 'VendorID', 'passenger_count', 'trip_distance',
       'RatecodeID', 'payment_type', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'improvement_surcharge', 'total_amount',
       'Airport_fee', 'trip_type', 'dropoff_location_id', 'ride_count', 'date',
       'AWND', 'PGTM', 'PRCP', 'SNOW', 'SNWD', 'TMAX', 'TMIN', 'WDF2', 'WDF5',
       'WSF2', 'WSF5', 'WT01', 'WT02', 'WT03', 'WT06', 'WT08'],
      dtype='object')

In [24]:
df_merged

,pickup_location_id,pickup_date,pickup_hour,trip_time,base_passenger_fare,tolls,bcf,sales_tax,congestion_surcharge,airport_fee,...,TMIN,WDF2,WDF5,WSF2,WSF5,WT01,WT02,WT03,WT06,WT08
0,1.0,2022-01-01,4,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,2022-01-01,5,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.0,2022-01-01,7,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.0,2022-01-01,10,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.0,2022-01-01,11,NaN,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731722,265.0,2025-04-30,19,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,15.0,300.0,300.0,6.7,11.6,NaN,NaN,NaN,NaN,NaN
731723,265.0,2025-04-30,20,1427.0,23.55,0.0,0.585,2.08,0.0,0.0,...,15.0,300.0,300.0,6.7,11.6,NaN,NaN,NaN,NaN,NaN
731724,265.0,2025-04-30,21,1339.0,24.56,0.0,0.550,0.00,0.0,0.0,...,15.0,300.0,300.0,6.7,11.6,NaN,NaN,NaN,NaN,NaN
731725,265.0,2025-04-30,22,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,15.0,300.0,300.0,6.7,11.6,NaN,NaN,NaN,NaN,NaN
731726,265.0,2025-04-30,23,343.0,14.61,0.0,0.365,0.00,0.0,0.0,...,15.0,300.0,300.0,6.7,11.6,NaN,NaN,NaN,NaN,NaN

In [25]:
# –ü–æ–ª—è, –∫–æ—Ç–æ—Ä—ã–µ —Ö–æ—Ç–∏–º —É–¥–∞–ª–∏—Ç—å
columns_to_drop = [
    "tips", 
    "tip_amount", 
    "airport_fee", 
    "Airport_fee",
    "tolls", 
    "tolls_amount", 
    "mta_tax",
    "bcf", 
    "improvement_surcharge", 
    "base_passenger_fare",
    "VendorID", 
    "trip_type", 
    "date", 
    "PGTM", 
    "WDF2", 
    "WDF5", 
    "WSF2", 
    "WSF5", 
    "WT02", 
    "WT06", 
    "WT08"
]

# –£–¥–∞–ª—è–µ–º —Ç–æ–ª—å–∫–æ —Ç–µ —Å—Ç–æ–ª–±—Ü—ã, –∫–æ—Ç–æ—Ä—ã–µ —Ä–µ–∞–ª—å–Ω–æ –µ—Å—Ç—å –≤ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ
cols_existing = [col for col in columns_to_drop if col in df_taxi.columns]

print("–ë—É–¥—É—Ç —É–¥–∞–ª–µ–Ω—ã —Å—Ç–æ–ª–±—Ü—ã:", cols_existing)

# –£–¥–∞–ª—è–µ–º
df_taxi_cleaned = df_taxi.drop(columns=cols_existing)

–ë—É–¥—É—Ç —É–¥–∞–ª–µ–Ω—ã —Å—Ç–æ–ª–±—Ü—ã: ['tips', 'tip_amount', 'airport_fee', 'Airport_fee', 'tolls', 'tolls_amount', 'mta_tax', 'bcf', 'improvement_surcharge', 'base_passenger_fare', 'VendorID', 'trip_type', 'date']

In [26]:
df_taxi_cleaned

,pickup_location_id,pickup_date,pickup_hour,trip_time,sales_tax,congestion_surcharge,driver_pay,cbd_congestion_fee,passenger_count,trip_distance,RatecodeID,payment_type,fare_amount,extra,total_amount,dropoff_location_id,ride_count
0,1.0,2022-01-01,4,NaN,NaN,0.0,NaN,NaN,3.000000,0.000000,5.000000,1.000000,40.000000,0.000000,40.300,1.000000,1
1,1.0,2022-01-01,5,NaN,NaN,0.0,NaN,NaN,2.000000,0.000000,5.000000,1.000000,95.000000,0.000000,105.300,1.000000,1
2,1.0,2022-01-01,7,NaN,NaN,0.0,NaN,NaN,2.000000,0.000000,5.000000,1.000000,96.500000,0.000000,107.830,1.000000,2
3,1.0,2022-01-01,10,NaN,NaN,0.0,NaN,NaN,2.000000,0.000000,5.000000,1.000000,79.000000,0.000000,98.050,1.000000,1
4,1.0,2022-01-01,11,NaN,NaN,0.0,NaN,NaN,1.500000,0.000000,5.000000,1.000000,102.500000,0.000000,105.300,1.000000,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
731722,265.0,2025-04-30,19,NaN,NaN,0.0,NaN,0.0,1.666667,0.120000,5.000000,1.000000,119.396667,0.000000,139.260,217.500000,4
731723,265.0,2025-04-30,20,1427.0,2.08,0.0,22.705,0.0,1.000000,4.844000,1.800000,3.400000,12.000000,0.000000,15.012,248.333333,9
731724,265.0,2025-04-30,21,1339.0,0.00,0.0,37.180,0.0,1.000000,1.667500,5.000000,1.000000,95.750000,0.000000,113.365,255.000000,6
731725,265.0,2025-04-30,22,NaN,NaN,0.0,NaN,0.0,0.666667,1.673333,3.333333,1.333333,31.266667,0.666667,60.000,197.833333,6
731726,265.0,2025-04-30,23,343.0,0.00,0.0,10.500,0.0,1.000000,0.000000,5.000000,1.000000,52.500000,0.000000,57.000,225.800000,5

In [27]:
df_taxi_cleaned.to_parquet("nyc_taxi_weather_merged.parquet", index=False)